
<%= render "layouts/flash" %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 text-center mb-5 mt-5">
    <h1 class="font-weight-bold">社内書籍管理アプリ <br> <br> - 借りルンです - </h1>
      <div class="d-md-flex pt-5">
        <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
          <%= image_tag "managing.png", width:"100%" %>
          <h3 class="font-weight-bold mb-3">書籍管理をまとめて管理</h3>
          <p class="text-center">
            社内にある書籍データを一括管理！ <br>
            登録は、GoogleBooksAPIを使用して簡単登録が可能！<br>
            購入書籍のエクセル管理はもう不要！！
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
          <%= image_tag "checking.png", width:"100%" %>
          <h3 class="font-weight-bold mb-3">貸し借りをシステム化</h3>
          <p class="text-center">
            ボタン1つで貸し借りが可能！難しい操作は一切ありません。<br>
            今後、紙で貸出記録をつける必要もありません。
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
          <%= image_tag "chasing.png",width:"100%" %>
          <h3 class="font-weight-bold mb-3">貸出履歴で追跡可能</h3>
          <p class="text-center">
            貸出状況も一覧で確認可能ができます<br>
            誰がどの本を借りていることが把握出来るため紛失防止にも!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>