
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mt-5 mb-5">
    <h1 class="font-weight-bold mt-5 mb-5">社内書籍管理アプリ<br> - 借りルンです - </h1>
      <div class="d-lg-flex pt-5">
        <div class="col-lg-4 col-md-8 col-sm-12 mx-auto">
          <%= image_tag "managing.png",:size => "300x300"%>
          <h3 class="font-weight-bold mb-3">書籍管理をまとめて管理</h3>
          <p class="text-justify">
            sample
          </p>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-12 mx-auto">
          <%= image_tag "checking.png",:size => "300x300"%>
          <h3 class="font-weight-bold mb-3">貸し借りをシステム化</h3>
          <p class="text-justify">
          sample
          </p>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-12 mx-auto">
          <%= image_tag "chasing.png",:size => "300x300", alt:"Answer.lyロゴ" %>
          <h3 class="font-weight-bold mb-3">貸出履歴で追跡可能</h3>
          <p class="text-justify">
            sample
          </p>
        </div>
      </div>
    </div>
  </div>
</div>